.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
span{
  cursor: default;
  font-size: 30px;
  border: 3px solid black;
  width: 50px;
  padding:0px 10px;
  border-radius: 10px;
}